<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div ng-app="myTodoApp" ng-controller="myTodoCtrl">
        <h2>我的笔记</h2>
        <p><textarea ng-model="message" cols="40" rows="10"></textarea></p>
        <p>
            <button ng-click="save()">保存</button>
            <button ng-clcik="clear()">清除</button>
        </p>
        <p>剩下的字符数：<span ng-bind="left()"></span></p>
    </div>

    <script src="www.runoob.com/try/angularjs/1.2.5/angular.min.js"></script>
    <script src="myTodoApp.js"></script>
    <script src="mytodoCtrl.js"></script>
</body>
</html>
